{% load static %}
{% block content %}
    {% if all_posts %}
       <a href="{% url 'post-detail-page' post.slug %}">
    <article
        class="w-auto max-w-[40rem] h-auto transition-all duration-100 ease-out  flex-nowrap relative bg-gray-100 p-2 rounded shadow-lg hover:border-2 border-black">
        <img src="{{ post.image.url }}" alt="{{ post.title }}"
             class="h-[24rem] w-full object-fill border-2">
    </article>
</a>
    {% else %}
        <p>No post found</p>
    {% endif %}
{% endblock %}