 {% load static %}

     <article
             class=" h-[20rem] absolute left-1/2 top-[7rem] transform -translate-x-1/2 -translate-y-1/10 bg-gray-100 p-5 rounded shadow-lg z-10 flex flex-col justify-center items-center border-2 ">
         <div class="mt-4 md:mt-0 md:ml-6">
             <a href="" class="flex-shrink-0">
                 <img src="{% static "blog/images/api-post-image.png" %}" alt="latest-post-image"
                      class="h-48 w-full md:w-80 rounded object-cover">
             </a>
             <h3 class="text-lg text-gray-900 font-semibold">Dummy Latest Post</h3>
             <p class="text-gray-600">This is a description of my latest post. Read more about it here!</p>
         </div>
     </article>

