{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "index.css" %}"/>
{% endblock %}

{% block content %}
      {% if all_posts %}
           <section
            class="min-h-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 overflow-y-auto hover:overflow-scroll p-8  ">
                {% for post in all_posts %}
                    {% include "blog/includes/all_post.html" %}
                {% endfor %}
            </section>
        {% endif %}

{% endblock %}


