{% extends "base.html" %}
{% load static %}

{% block content %}
    <article class="flex flex-col  justify-center items-center rounded-lg shadow-lg  lg:mx-40 ">
        <h2 class="text-2xl text-center mb-8 text-gray-600 capitalize">{{ post.title }}</h2>
        <img src="{{ post.image.url }}" alt="{{ post.title }}"
             class="w-full h-auto object-cover object-center"/>
        <div class="container  ">
            <div class=" flex flex-col whitespace-normal break-words ">
                {{ post.content | safe}}
                </div>
            <span class="text-sm text-gray-600">{{ post.date|date:"M d, Y" }}</span>
        </div>
    </article>
{% endblock %}
