{% extends "base.html" %}
{% load static %}


{% block content %}
    <section>
        <h2>post title placeholder</h2>
        <article>
            <img src="{% static "blog/images/api-post-image.png" %}" alt="apis-post-image">
        </article>

    </section>
    <main>
        <p>
            No exercitation id dignissim kasd soluta molestie imperdiet incidunt soluta sadipscing vulputate aliquip
            duis iriure ea nihil. Reprehenderit cum consectetuer sit nostrud esse sint adipisici rebum iure tation amet,
            exerci dolor quis aliqua nonummy augue eu placerat labore deserunt, officia pariatur erat congue option erat
            tempor takimata elit eiusmod quis. Delenit liber sadipscing minim incidunt dignissim iure voluptate. Nulla
            magna elit soluta, esse pariatur fugiat quis takimata dolores tation anim commodo imperdiet consequat
            consetetur nisl possim. Eleifend hendrerit accusam clita sadipscing takimata quod cillum sadipscing
            reprehenderit tempor tation justo mazim. Eirmod est exercitation veniam feugiat sit feugiat. Volutpat iusto
            culpa.

        </p>
    </main>

{% endblock %}