<!DOCTYPE html>
{% load static tailwind_tags %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    {% block title %}<title>My Software Engineering Blog</title>{% endblock %}
    <link rel="stylesheet" href={% static "css/dist/styles.css" %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block css_files %}{% endblock %}
</head>

<body class="flex flex-col min-h-screen min-w-screen">
<header class="relative flex flex-col  h-20 shadow-md">
    <div class=" grid grid-cols-2 mt-4">
        <div class="cols-span-1 col-start-1 mx-4 text-2xl font-thin capitalize  text-slate-800"> software engineering
            articles
        </div>

        <div class="col-span-1 col-start-2 flex justify-end  gap-4 items-center p-2 mx-4">
            {% if request.path != "/" %}
                <div class=" mx-4 w-10  flex justify-center items-center  cursor-pointer  text-2xl ">
                    <a href="/"> <i class="fa fa-home"></i></a>
                </div>
            {% else %}

                <div class="font-black text-2xl ">
                    <a href="/posts">
                        <i class="fa-solid fa-newspaper"></i>

                    </a>
                </div>

                </div>
            {% endif %}
    </div>
</header>

{% block content %} {% endblock %}

<footer class="border-t-2 drop-shadow-md  py-6 mt-auto">
    <div class="container mx-auto flex justify-center items-center space-x-20">
        <a
                href="https://github.com/mSharifHub/Software-Engineering-Articles" class="text-white">
            <i
                    class="fab fa-github text-black text-6xl  mx-4">
            </i>
        </a>
          <a href="https://www.linkedin.com/in/mohamed-sharif-47301520b/">
            <div class=" fab fa-linkedin text-6xl flex justify-center items-center "></div>
          </a>

    </div>
</footer>
</body>

</html>