<!DOCTYPE html>
{% load static tailwind_tags %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    {% block title %}<title>My Software Engineering Blog</title>{% endblock %}
    <link rel="stylesheet" href={% static "css/dist/styles.css" %}>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block css_files %}{% endblock %}
</head>

<body class="flex flex-col min-h-screen min-w-screen ">
    <header class="relative flex flex-col  h-40 bg-slate-600 ">
        <div class=" flex flex-row justify-start items-center mt-10  text-white">
            <div class="text-2xl capitalize mx-4 ">
               <a href="{% url "starting-page" %}">
                <span> my software engineering articles</span>
                </a>
            </div>
        </div>
    </header>

{% block content %} {% endblock %}

<footer class="bg-slate-600 text-white py-6 mt-auto">
    <div class="container mx-auto px-6 text-center">
        <p>Copyright © 2024 by Mohamed Sharif . All rights reserved.</p>
    </div>
</footer>
</body>

</html>